// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

//fonts
+font('Zapf Dingbats', 'Zapf Dingbats')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic&subset=latin,cyrillic')

=reg
	font-family: 'Open Sans', sans-serif
	font-weight: 400
=light
	font-weight: 100
=lighti
	font-weight: 100
=bold
	font-weight: 700
=sbold
	font-weight: 600

$primary: #1c1634
$accent: #e9a84e

body
	+reg
	+light
	font-size: 18px
	line-height: 1.4
	background: url('../img/bg.jpg') repeat-y
	background-size: cover

.out
	padding-top: 75px
// common blocks
%in
	max-width: 100%
	margin: 0 auto
	padding: 0 15px
	position: relative
	+r(1400)

.l-center
	width: 1630px
	@extend %in

.l-center-md
	width: 1060px
	@extend %in
.l-center-sm
	width: 1005px
	@extend %in

[class^="i-icon"], [class*=" i-icon-"]
	display: inline-block
a
	text-decoration: none

.i-play
	display: inline-block
	width: 70px
	height: 70px
	position: relative
	border-radius: 50%
	background: rgba($primary, .6)
	&:after
		content: ''
		position: absolute
		+arr(23, 29, #fff, r)
		left: 50%
		top: 50%
		margin: -13.5px 0 0 -8.5px

.btn
	line-height: 1
	font-size: 18px
	color: #fff
	background: $accent
	padding: ((13 / 18) * 1em) ((29 / 18) * 1em)
	border-radius: 1.2em
	font-weight: 100
	display: inline-block
	text-align: center
	+reg
	&_mod
		font-size: 12px
		+sbold
		text-transform: uppercase
		color: #202441

.hamburger
	display: inline-block
	vertical-align: middle
	cursor: pointer
	position: relative
	+tr(border-color .3s)
	height: 75px
	width: 75px
	padding: 10px
	background: #fff
	span
		width: 34px
		height: 28px
		display: inline-block
		border: 3px solid #000
		border-width: 3px 0
		position: relative

		&:after
			content: ''
			position: absolute
			top: 50%
			left: 0
			height: 3px
			background: #000
			width: 100%
			margin-top: -1px
			+tr(background .3s)

.link-more
	font-size: 18px
	text-decoration: underline
	color: $accent
	display: inline-block
	+light

.logo-woolim
	display: inline-block
	width: 255px
	height: 103px
	background: url('../img/logo-woolim.svg') no-repeat top center
	background-size: cover
	&:before
		content: ''
		display: inline-block

h1, .h1
	color: $accent
	+reg
	font-weight: 100
	font-size: 36px
	margin: 1em 0
	text-align: center
	text-transform: uppercase
	&_light
		color: #fff

h2, .h2
	color: $accent
	+light
	font-size: 24px
	text-transform: uppercase
	letter-spacing: 1px
	&_light
		color: #fff

h3, .h3
	color: #fff
	+reg
	font-weight: 100
	font-size: 18px
	text-transform: uppercase

h4, .h4
	color: $accent
	font-size: 18px
	+sbold

.row
	+clr
.row-pad
	margin: 0 -17px
	+clr
	> div
		padding: 0 17px
.col4
	float: left
	width: 25%

.col3
	float: left
	width: 33.33333%

.col-sm
	float: left
	width: percentage(318 / 1005)
.col-md
	float: left
	width: percentage(665 / 1005)
sup
	display: inline-block
	vertical-align: top
	font-size: .6em