// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

//fonts
+font(opensans-bold, opensans-bold)
+font(opensans-semibold, opensans-semibold)
+font(opensans-light, opensans-light)
+font(opensans-regular, opensans-regular)
+font(opensans-lightitalic, opensans-lightitalic)

=reg
	font-family: 'opensans-regular', sans-serif
=light
	font-family: 'opensans-light', sans-serif
=lighti
	font-family: 'opensans-lightitalic', sans-serif
=bold
	font-family: 'opensans-bold', sans-serif
=sbold
	font-family: 'opensans-semibold', sans-serif

$primary: #1c1634
$accent: #e9a84e

body
	+reg
	font-size: 18px
	line-height: 1.4
	background: url('../img/bg.jpg') repeat-y
	font-weight: 100
	background-size: cover

.out
	padding-top: 75px
// common blocks
%in
	width: 1630px
	max-width: 100%
	margin: 0 auto
	padding: 0 15px
	position: relative
	+r(1400)

[class^="i-icon"], [class*=" i-icon-"]
	display: inline-block
.l-center
	@extend %in
a
	text-decoration: none

.i-play
	display: inline-block
	width: 70px
	height: 70px
	position: relative
	border-radius: 50%
	background: rgba($primary, .6)
	&:after
		content: ''
		position: absolute
		+arr(23, 29, #fff, r)
		left: 50%
		top: 50%
		margin: -13.5px 0 0 -8.5px

.btn
	line-height: 1
	+reg
	font-size: 18px
	color: #fff
	background: $accent
	padding: ((13 / 18) * 1em) ((29 / 18) * 1em)
	border-radius: 1.2em
	&_mod
		font-size: 12px
		+sbold
		text-transform: uppercase
		color: #202441

.hamburger
	display: inline-block
	vertical-align: middle
	cursor: pointer
	position: relative
	+tr(border-color .3s)
	height: 75px
	width: 75px
	padding: 10px
	background: #fff
	span
		width: 34px
		height: 28px
		display: inline-block
		border: 3px solid #000
		border-width: 3px 0
		position: relative

		&:after
			content: ''
			position: absolute
			top: 50%
			left: 0
			height: 3px
			background: #000
			width: 100%
			margin-top: -1px
			+tr(background .3s)

.link-more
	font-size: 18px
	text-decoration: underline
	color: $accent
	display: inline-block
	+light

h1, .h1
	color: $accent
	+reg
	font-weight: 100
	font-size: 36px
	margin: 1em 0
	text-align: center
	text-transform: uppercase

h2, .h2
	color: $accent
	+reg
	font-weight: 100
	font-style: 24px
	text-transform: uppercase