extends _layout

block title
	title Main-page

block content
	header.header
		.header__in
			a.header__logo.icon.icon-logo(href="#")
			.header__btn
				button.btn.btn_mod
					| Обратный звонок
			.callback
				a.callback__link(href="tel:+7(727)2277777")
					| +7 (727) 227-77-77
				button.hamburger
					span
	.l-center

